{% extends "animal/base.html" %}

{% block title %}
  Rooms for animals
{% endblock %}

{% block body%}

  <div class="container">
    <div class="row">
      {% for room in rooms %}

      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
            <p class="card-text"> In room {{room.name}} we have
              {% for animal in room.animals.all%}
                {{animal}},
              {% endfor %}
            </p>
            <a href="#" class="btn btn-primary">Check {{room.name}}</a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>


{% endblock %}
